<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Jersey+15&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/images/logo.png" type="image/x-icon">
    <title><%=title%></title>
</head>
<body>
    <div class="wrapper">
        <%-include("../header.ejs")%>
        <div class="main">
            <div class="main-card">
                <div class="sup_header">
                    <div class="left-sup">
                        <h2>Add Suppliers</h2>
                    </div>
                </div>
    
                <form action="/suppliers/add" method="post">
    
                    <%if(locals.errors && errors.general){%>
                        <div style="color: red;"><%=errors.general%></div>
                    <%}%>
                    <div class="form-group">
                        <label for="name">Name <span>*</span></label>
                        <input type="text" name="name" id="name" value="<%=oldData ?.name || ''%>" required>
                    </div>
                    <%if(locals.errors && errors.name){%>
                        <div style="color: red;"><%=errors.name%></div>
                    <%}%>
                    <%if(err?.name){%>
                        <div style="color: red;"><%=err.name%></div>
                    <%}%>
                    <div class="form-group">
                        <label for="contact_person">Contact Person <span>*</span></label>
                        <input type="text" name="contact_person" id="contact_person" required value="<%=oldData?.contact_person || '' %>">
                    </div>
                    <div class="form-group">
                        <label for="email">Email <span>*</span></label>
                        <input type="email" id="email" name="email" required value="<%=oldData?.email || '' %>">
                    </div>
                    <%if(locals.errors && errors.email){%>
                        <div style="color: red;"><%=errors.email%></div>
                    <%}%>
                    <%if(err?.email){%>
                        <div style="color: red;"><%=err.email%></div>
                    <%}%>
                    <div class="form-group">
                        <label for="phone">Phone <span>*</span></label>
                        <input type="text" id="phone" name="phone" value="<%=oldData?.phone || '' %>" required>
                    </div>
                    <%if(err?.phone){%>
                        <p style="color: red;"><%=err.phone%></p>
                    <%}%>
                    <div class="form-group">
                        <label for="address">Address <span>*</span></label>
                        <input type="text" id="address" name="address" required value="<%=oldData?.address || '' %>">
                    </div>
                    <%if(err?.address){%>
                        <div style="color: red;"><%=err.address%></div>
                    <%}%>
                    <div class="form-group"><button type="submit">Submit</button></div>
                </form>
            </div>
            
        </div>
        <%-include("../footer.ejs")%>
    </div>

</body>
</html>