<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Jersey+15&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/images/logo.png" type="image/x-icon">
    <title><%=title%></title>
</head>
<body>
    <div class="wrapper">
        <%-include("../header.ejs")%>
        <div class="main">
            <div class="sup_header">
                <div class="left-sup">
                    <h2>Suppliers Lists</h2>
                </div>
                <div class="right-sup">
                    <a class="addSup" href="/suppliers/add">Add new suppliers</a>
                </div>
            </div>
            <%if(locals.suppliers){%>
                <table>
                    <tr class="table-header">
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Contact Person</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Created Date</th>
                        <th>Action</th>
                    </tr>
                    <%suppliers.forEach(supplier => {%>
                    <tr>
                           <td><%=supplier.sno%></td>
                           <td><%=supplier.name%></td>
                           <td><%=supplier.contact_person%></td>
                           <td><%=supplier.email%></td>
                           <td><%=supplier.phone%></td>
                           <td><%=supplier.address%></td>
                           <td><%=new Date(supplier.created_at).toLocaleDateString("en-ca")%></td>
                           <td>
                            <form action="/suppliers/<%=supplier.id%>/update" method="get">
                                <button class="updateBtn" type="submit">Update</button>
                            </form>
                            <form action="/suppliers/<%=supplier.id%>/delete" method="post">
                                <button class="deleteBtn"  type="submit" onclick="return confirm(`Are you sure you want to delete this suppliers?`)">Delete</button>
                            </form>
                           </td>
                    </tr>
                    <%});%>
                </table>
            <%}%>
        </div>
        <%-include("../footer.ejs")%>
    </div>

</body>
</html>