<div class="header">
    <div class="left-header">
         <a href="">
            <img src="../public/images/logo.png" class="img-logo">
         </a>
    </div>
    <div class="right-header">
        <a href="/" class="<%= currentPath === '/' ? 'active' : '' %>">Home</a>
        <a href="/inventory" class="<%= currentPath === '/inventory' ? 'active' : '' %>">Inventory</a>
        <a href="/suppliers" class="<%= currentPath === '/suppliers' ? 'active' : '' %>">Suppliers</a>
        <a href="/purchase" class="<%= currentPath === '/purchase' ? 'active' : '' %>">Purchase Order</a>
        <a href="/sales" class="<%= currentPath === '/sales' ? 'active' : '' %>">Sales Order</a>
    </div>
</div>