<%items.forEach(item => {%>
    <div id="itemUpdate-<%=item.id%>" class="itemUpdate" popover>
        <div class="main">
                <div class="main-card">
                        <div class="sup_header">
                            <div class="left-sup">
                                <h2>Update <%=item.name%></h2>
                            </div>
                        </div>
                        <hr>
                        <form action="/inventory/<%=item.id%>/update" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="customer_name">Name <span>*</span></label>
                                <input type="text" name="name" id="name" required value="<%=item.name%>">
                            </div>
                            <div class="form-group">
                                <label for="sku">Sku <span>*</span></label>
                                <input type="text" name="sku" id="sku" required value="<%=item.sku%>">
                            </div>
                            <div class="form-group">
                                <label for="item">Description <span>*</span></label>
                                 <textarea name="desc" id="desc" rows="10"><%=item.description%></textarea>
                            </div>
                            <div class="form-group">
                                <label for="itemImages">Image <span>*</span></label>
                                <div class="img-div">
                                    <img src="<%=item.item_image%>" alt="" class="upImg">
                                    <input type="file" name="item_image" id="item-image" accept="image/*" value="<%=item.item_image%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category_name">Category Name <span>*</span></label>
                                 <select name="category_name" id="category_name" required>
                                    <option value="<%=item.category_name%>" selected><%=item.category_name%></option>
                                    <%category.forEach(cat => {%>
                                        <option value="<%=cat.category_name%>"><%=cat.category_name%></option>
                                    <%});%>
                                 </select>
                            </div>
                            <div class="form-group">
                                <label for="supplier_name">Supplier Name <span>*</span></label>
                                 <select name="supplier_name" id="supplier_name" required>
                                    <option value="<%=item.supplier_name%>" selected><%=item.supplier_name%></option>
                                    <%suppliers.forEach(supplier=>{%>
                                        <option value="<%=supplier.name%>"><%=supplier.name%></option>
                                    <%});%>
                                 </select>
                            </div>
                            <div class="form-group">
                                <label for="qty">Qty <span>*</span></label>
                                <input type="text" name="qty" id="qty" required value="<%=item.qty_in_stock%>">
                            </div>
                            <div class="form-group">
                                <label for="unit_price">Unit Price <span>*</span></label>
                                <div id="form-group">
                                    <input type="text" id="unit_price" name="unit_price" required value="<%=item.unit_price%>">
                                </div>
                            </div>
                            <div class="form-group"><button type="submit" id="itemUpdateBtn">Update</button></div>
                        </form>
                </div>
        </div>
    </div>
<%});%>