<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jersey+10&family=Jersey+15&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/images/logo.png" type="image/x-icon">
    <title><%=title%></title>
</head>
<body>
    <div class="wrapper">
        <%-include("../header.ejs")%>
        <div class="main">
            <div class="main-card">
                <div class="sup_header">
                    <div class="left-sup">
                        <h2>Add Purchase</h2>
                    </div>
                </div>
                <form action="/purchase/add" method="post">
                    <div class="form-group">
                        <label for="item">Item</label>
                         <select name="item" id="item" required>
                            <option value="" disabled selected>Select an items</option>
                             <%if(locals.items){%>
                                <%if(locals.categories){%>
                                    <%categories.forEach(category => {%>
                                        <optgroup label="<%=category.category_name%>">
                                            <%items.forEach(item =>{%>
                                                <%if(category.id === item.category_id){%>
                                                    <option value="<%=item.name%>"><%=item.name%></option>
                                                <%}%>
                                            <%});%>
                                        </optgroup>
                                    <%});%>
                                <%}%>
                             <%}%>
                         </select>
                
                    </div>
                    <div class="form-group">
                        <label for="qty">Qty</label>
                        <input type="text" name="qty" id="qty" required>
                    </div>
                    <div class="form-group">
                        <label for="unit_price">Unit Price</label>
                        <div id="form-group">
                            <input type="text" id="unit_price" name="unit_price" required>
                            <button type="button" id="btnCalc">Calculate Total</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="total_amount">Total Amount</label>
                        <input type="text" id="total_amount" name="total_amount" value="" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="supplier_name">Supplier Name</label>
                        <select name="supplier_name" id="supplier_name">
                            <option value="" disabled selected>Select suppliers</option>
                            <%if(locals.suppliers){%>
                                <%suppliers.forEach(supplier => {%>
                                    <option value="<%=supplier.name%>"><%=supplier.name%></option>
                                <%});%>
                            <%}%>
                        </select>
                    </div>
                    <div class="form-group"><button type="submit">Submit</button></div>
                </form>
            </div>
            
        </div>
        <%-include("../footer.ejs")%>
    </div>

    <script>
        const qty = document.querySelector("#qty");
        const unit_price = document.querySelector("#unit_price");
        const total_amount = document.querySelector("#total_amount");
        const btnCalc = document.querySelector("#btnCalc");

        btnCalc.addEventListener("click", ()=>{
            const total = (qty.value) * (unit_price.value);
            total_amount.value = total.toFixed(2);
        });

    </script>

</body>
</html>